extends home_layout
block content
  if user
    .row
      .col-sm-12
        .alert.alert-success
          p Welcome #{user.profile.name}. You have #[strong #{user.profile.points}] points. Choose wisely!
    .row
      .col-sm-6
        .panel.panel-default
          .panel-heading
            h2 Portfolio
          .panel-body
            ul.companies
              each startup in portfolio.companies
                li.company
                  img(src=startup.image)
                  span.name= startup.name
                  .pull-right
                    span.points.mr= startup.points
                    span.arrow.green
                      i.fa.fa-caret-up.fa-2x
      .col-sm-6
        .panel.panel-default
          .panel-heading
            h2 All Companies
          .panel-body
            ul.companies
              each startup in companies
                li.company
                  img(src=startup.image)
                  span.name= startup.name
                  .pull-right
                    span.points.mr= startup.points
                    a.btn.btn-primary.btn-sm(href="/users/portfolio?id="+startup._id+"&value="+startup.points+"&name="+startup.name) Add to Portfolio
    .row
      .col-sm-12
        #feed
          .panel.panel-default
            .panel-heading
              h2 News Feed
            .panel-body
              ul.feed
                li.feed-item
                  i.fa.fa-newspaper-o
                  span Slack just got Techcrunched! Up 50 points!
                  span.pull-right.text-muted.small 4 minutes ago
  else
    .page-brand
      img(src="img/logo.png")
      span.brand-name Midas
    .intro
      .col-md-8.col-md-offset-2
        .intro-content
          h1
            | Discover start-ups. <br />
            | Follow their progress. <br />
            | Ride the next unicorn.
          a.button.button-primary(href='/signup') Sign up
          a.button.button-primary.button-white(href='/login') Log in
    .container
      .row.features
        .col-sm-4
          .icon $
          h4 Create your Portfolio
          p Navigate the universe of start-ups and create a portfolio Y Combinator could only dream of.
        .col-sm-4
          .icon #
          h4 Track startup news
          p Track the activity of your start-ups as they trend across Twitter and grace the front of TechCrunch.
        .col-sm-4
          .icon @
          h4 Compete with your friends
          p Compete with your friends to see who could become the next Peter Thiel.
      hr.mb.mt    
      .row
        .col-sm-6
          .panel.panel-default
            .panel-heading
              h2 All Companies
            .panel-body
              ul.companies
                each startup in companies
                  li.company
                    img(src=startup.image)
                    span.name= startup.name
                    .pull-right
                      span.points.mr= startup.points
        .col-sm-6
          #feed
            .panel.panel-default
              .panel-heading
                h2 News Feed
              .panel-body
                ul.feed
                  li.feed-item
                    i.fa.fa-newspaper-o
                    span Slack just got Techcrunched! Up 50 points!
                    span.pull-right.text-muted.small 4 minutes ago